
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=play_arrow');


.material-symbols-outlined
{
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    font-size: 4rem;
    color: #28C4FF;
}

/* FUENTES */
/* Yuruka Font (Fuente de titulos) */
@font-face
{
    font-family: 'Yuruka';
    src: url('@/assets/Fuentes/fot-yuruka-std.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Fredoka (Fuente de texto general) */
@font-face
{
    font-family: 'Fredoka';
    src: url('@/assets/Fuentes/Fredoka-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
}

/* Reset */
*, *::before, *::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button
{
    cursor: pointer;
    outline: none;
    border: none;
}

a
{
    text-decoration: none;
    color: #FBFBFD;
}

/* body {overflow: hidden;} */

/* HTML */
html
{
    font-size: 16px;
    font-family: "Fredoka", sans-serif;
    font-weight: 100;
    color: #FBFBFD;
    scroll-behavior: smooth;
    /* scrollbar-width: none; Desbloquear cuando se termine todo */
}

/* CLASES GLOBALES Y GENERICAS */
.flex
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgImg, *::before, *::after
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fullSize, *::before, *::after
{
    width: 100%;
    height: 100%;
}

.transition, *::before {transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease, transform 0.2s ease-in-out, box-shadow 0.3s ease, filter 0.2s ease, border-color 0.3s ease, display 0.4s ease allow-discrete, scale 0.3s ease;}

.flexColumn{flex-direction: column;}

:root
{
  /* Gen 0 */
  --bgColor-Sora: #245efe;
  --bgColor-Roboco: #a36594;
  --bgColor-Azki: #f4338a;
  --bgColor-Miko: #ff9bb1;
  --bgColor-Suisei: #50e5f9;
  /* Gen 1 */
  --bgColor-Aki: #fe1c9a;
  --bgColor-Haato: #fb123f;
  --bgColor-Fubuki: #76dfff;
  --bgColor-Matsuri: #ffa228;
  /* Gen 2 */
  --bgColor-Ayame: #ed3a4f;
  --bgColor-Choco: #ff6d9a;
  --bgColor-Subaru: #e1ff2d;
  --bgColor-Aqua: #ffa6ea;
  --bgColor-Shion: #ad6ce0;
  /* Gamers */
  --bgColor-Mio: #ff304a;
  --bgColor-Okayu: #e27dfd;
  --bgColor-Korone: #ffcc2a;
  /* Gen 3 */
  --bgColor-Pekora: #88d2ff;
  --bgColor-Flare: #ff5027;
  --bgColor-Noel: #acabb1;
  --bgColor-Marine: #ca3c28;
  /* Gen 4 */
  --bgColor-Watame: #fef29e;
  --bgColor-Towa: #cabbff;
  --bgColor-Luna: #ff85c2;
  --bgColor-Kanata: #99d9ff;
  --bgColor-Coco: #fd8b04;
  /* Gen 5 */
  --bgColor-Lamy: #6ccdf8;
  --bgColor-Nene: #ffb65d;
  --bgColor-Botan: #a4e5cf;
  --bgColor-Polka: #cf2830;
  /* HoloX */
  --bgColor-Laplus: #936cc5;
  --bgColor-lui: #831650;
  --bgColor-Koyori: #feacd3;
  --bgColor-Iroha: #93dcd8;
  --bgColor-Chloe: #d04c4a;
  /* Myth */
  --bgColor-Calli: #c90d40;
  --bgColor-Kiara: #fe511c;
  --bgColor-Ina: #61567e;
  --bgColor-Ame: #f7db92;
  --bgColor-Gura: #5c81c7;
  /* Promise */
  --bgColor-Irys: #e10e5b;
  --bgColor-Kronii: #6879c7;
  --bgColor-Baelz: #ff948e;
  --bgColor-Fauna: #b3e4c7;
  --bgColor-Mumei: #dbc4b2;
  --bgColor-Sana: #e7bbd2;
  /* Advent */
  --bgColor-Shiori: #b7a0cc;
  --bgColor-Rissa: #2233fc;
  --bgColor-Bijou: #6e5bf3;
  --bgColor-Fuwawa: #66b2fe;
  --bgColor-Mococo: #f7a5c9;
  /* Justice */
  --bgColor-ERB: #c7383a;
  --bgColor-Ceci: #129a5c;
  --bgColor-Gigi: #fdb441;
  --bgColor-Raora: #f087a8;
  /* Area15 */
  --bgColor-Rissu: #f6bcbb;
  --bgColor-Moona: #b19ddc;
  --bgColor-Iofi: #b3ee54;
  /* Holoro */
  --bgColor-Ollie: #d60f54;
  --bgColor-Anya: #f2c95d;
  --bgColor-Reine: #0f52ba;
  /* Holoholo */
  --bgColor-Kaela: #ff3d3d;
  --bgColor-Kobo: #3a3464;
  --bgColor-Zeta: #bab8c3;
  /* ReGloss */
  --bgColor-Kanade: #fee7b5;
  --bgColor-Ririka: #f57daa;
  --bgColor-Raden: #3d7c71;
  --bgColor-Hajime: #b6b9ff;
  --bgColor-Ao: #1d3466;
  /* FlowGlow */
  --bgColor-Riona: #fe3480;
  --bgColor-Vivi: #ff90cb;
  --bgColor-Niko: #f58017;
  --bgColor-Su: #71e4ff;
  --bgColor-Chiha: #36bbba;
}
/* ========================= ANIMACIÓN DE FONDO ========================= */
@keyframes triangle
{
    from
    {
        transform: scale(0) rotate(0deg);
        opacity: 1;
    }
    to
    {
        transform: scale(20) rotate(960deg);
        opacity: 0;
    }
}

/* FONDO */
.background
{
    position: fixed;

    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #ffffff;
    overflow: hidden;
    z-index: -1;
    list-style: none;
}

/* TRIÁNGULOS */
.background li
{
    position: absolute;
    width: 20px;
    height: 20px;
    color: #28c6ff4d;
    transform-origin: center;
    transform: scale(0) rotate(0deg);
    animation: triangle 7s ease-in forwards infinite;
}

/* SVG */
.background .triangle
{
    width: 100%;
    height: 100%;
    display: block;
}

/* POSICIONES */
.background li:nth-child(1)
{
    animation-delay: 0s;
    left: 81vw;
    top: 92vh;
    color: #28c6ff1a;
}

.background li:nth-child(2)
{
    animation-delay: 2s;
    left: 31vw;
    top: 64vh;
    color: #28c6ff4d;
}

.background li:nth-child(3)
{
    animation-delay: 4s;
    left: 3vw;
    top: 15vh;
    color: #28c6ff4d;
}

.background li:nth-child(4)
{
    animation-delay: 6s;
    left: 65vw;
    top: 24vh;
    color: #28c6ff4d;
}

.background li:nth-child(5)
{
    animation-delay: 8s;
    left: 48vw;
    top: 72vh;
    color: #28c6ff4d;
}

.background li:nth-child(6)
{
    animation-delay: 10s;
    left: 96vw;
    top: 40vh;
    color: #28c6ff1a;
}

